html {
    height: 100%;
}

body {
    font-family: "Segoe UI", "Liberation Sans", sans-serif;
    background-color: #0f0f0f;
    color: #989898;
    height: 100%;
    overflow: hidden;
}

.super-parent-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* //grid-template-rows: 10% 90%; */
}

.parent-container {
    position: relative;
    display: grid;
    /*height: 100vh;*/
    grid-template-columns: 70% 30%;
    overflow-y: auto;
}

.article-container {
    overflow-y: auto;
}

.guess-area {
    display: grid;
    /*height: 90vh;*/
    grid-auto-rows: 50px auto;
    overflow-y: auto;
}

.guess-hit-container {
    overflow-y: auto;
}

.input-container {
    border: solid 1px;
    background: #212529;
    padding: 10px 10px 10px 10px;
}

.guess-button {
    border-radius: 2px;
    color: rgba(226, 226, 226);
    background-color: #5a5a5a;
}

.hide-nav-bar {
    position: absolute;
    top: 0;
    left: 50%;
}

.hide-nav-bar input {
    background: transparent;
    color: white;
    height: 20px;
    width: 40px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin-top: -2px;
    border-radius: 2px;
}

.container.container-lg {
    margin-left: 0px;
    margin-right: 0px;
}

.baffled {
    background-color: #989898;
}

.hiddenRow {
    display: none;
}

td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbar.fixed-right {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1030
}

.mw-parser-output {
    font-family: monospace;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10vh;
    overflow-x: auto;
    overflow-wrap: break-word;
}

.highlighted {
    background-color: #00585e !important;
}

.superHighlighted {
    background-color: #00becc !important;
    color: #0f0f0f;
}

#inputHolder {
    bottom: 0;
    z-index: 4;
}

#loadingIcon {
    height: 10px;
    background: transparent;
}

.statsTable {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-fancy-reveal {
    margin-left: 20px;
}

.btn-fancy-reveal:hover {
    background-color: red;
    color: white;
    margin-left: 20px;
}

.closeReveal {
    margin: auto;
}

.doReveal {
    margin: auto;
}

@media (min-width:992px) {
    .navbar.fixed-right {
        top: 0;
        width: 30vw;
        flex-flow: column nowrap;
        align-items: flex-start
    }

    .navbar.fixed-right .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width: 100%
    }

    .navbar.fixed-right .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%
    }

    .navbar.fixed-right .navbar-collapse .navbar-nav .nav-item {
        width: 100%
    }

    .navbar.fixed-right .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        top: 0
    }
}

@media (min-width:992px) {
    .navbar.fixed-right {
        left: auto
    }

    .navbar.fixed-right .navbar-nav .nav-item .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-left: none;
        border-bottom: .3em solid transparent;
        border-right: .3em solid;
        vertical-align: baseline
    }

    .navbar.fixed-right .navbar-nav .nav-item .dropdown-menu {
        left: auto;
        right: 100%
    }
}

@media (max-width:992px) {
    #wikiHolder {
        overflow-x: hidden;
    }

    .mw-parser-output {
        margin-bottom: 50vh;
        max-width: 100vw;
        padding-right: 15px;
    }

    .navbar.fixed-right {
        bottom: 60px;
        max-height: 30vh;
        max-width: 100vw;
    }

    .modal {
        max-width: 100vw;
    }

    #inputHolder {
        max-width: 100vw;
    }

    #tableHolder {
        margin: 0px !important;
    }

    #inGrp {
        padding-left: 10vw;
    }

    #userGuess {
        min-width: 50vw;
    }

    #submitGuess {
        min-width: 15vw;
    }

    #inGrp {
        padding-left: 0;
    }
}

.innerTxt.baffled {
  position: relative;
}

.baffled:after {
  content: attr(word-length);
  position: absolute;
  color: #4d4d4d;
  font-family: monospace;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}
